*.swp
*.swo
node_modules/
build/
.DS_Store/
/coverage
coverage.json
allFiredEvents
scTopics
Unified.sol
.idea/*
node*
output/

.project
.settings
bokkyAudit/test/testchain/geth
bokkyAudit/test/testchain/geth.ipc
bokkyAudit/test/testchain/history
bokkyAudit/test/contracts
private
